@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;500;700;900&display=swap');
body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.header {
    background: url('../images/header-img.jpg') no-repeat center 50%/cover;
}

.full-wrapper {}

.content-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}

.logo {}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    padding-right: 20px;
}

.nav-item:last-child {
    padding-right: 0px;
}

.link-item {
    line-height: 17px;
    color: #FFFFFF;
}

.link-item:active {
    color: #FFC700;
}

.link-item:hover {
    color: #FFC700;
}

.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lines-wrap {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-btn-line {
    height: 5px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px
}

.main-сontent {
    display: flex;
    justify-content: space-between;
    padding: 152px 0px 248px 0;
}

.title {
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
    position: relative;
}

.pretext {
    position: absolute;
    top: 60px;
    left: 520px;
    font-family: 'Caveat', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 60px;
    color: #FFC700;
}

.sub-title {
    font-weight: 900;
    font-size: 96px;
    line-height: 117px;
    color: transparent;
    -webkit-text-stroke: 2px #FFFFFF;
}

.button {
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    height: 50px;
    position: relative;
}

.button-header {
    padding-top: 60px;
}

.more-link {
    padding: 16px 73px 17px 53px;
    line-height: 17px;
    color: #FFFFFF;

}

.more-link::after {
    content: '';
    position: absolute;
    background: url('./images/icons/arrow-right.svg') no-repeat 50%/cover;
    color: #FFFFFF;
    width: 16px;
    height: 8px;
    top: 22.5px;
    right: 53px;
}

.more-link:hover::after {
    content: '';
    position: absolute;
    background: url('./images/icons/arrow-right.svg') no-repeat 50%/cover;
    width: 16px;
    height: 8px;
    top: 22.5px;
    right: 45px;
    transition: 0.2s;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 14px;
}

.social-link {
    padding-bottom: 8px;
}

.social-link:last-child {
    padding-bottom: 0px;
}

/*footer*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-top: 53px;
    padding-bottom: 29px;
}
.nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.nav-items-footer {
    padding-left: 110px;
    vertical-align: center;
}
.nav-item-footer {
    padding-bottom: 8px;
}
.link-item-footer {
    color: #282828;
}
.link-item-footer span {
    padding-left: 8px;
}
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.contact-items-footer {
}
.contact-item-footer {
    padding-bottom: 8px;
}
.social-footer {
    padding-left: 110px;
}
.mail {
    padding-bottom: 16px;
}
.social-links {
}
.social-link {
}

/*Responsive*/
@media (min-width: 769px) {
    .burger-menu {
        display: none;
    }
}

@media (min-width: 608px) and (max-width: 768px) {
    .content-wrapper {
        padding: 27px 79px;
    }

    .nav-item {
        display: none;
    }

    .main-content {
        padding: 235px 0 321px 0;
    }

    .title {
        font-size: 48px;
        line-height: 59px;
        padding-bottom: 12px;
    }

    .sub-title {
        line-height: 86px;
        padding-bottom: 90px;
    }

    .pretext {
        top: 40px;
        left: 280px;
        font-size: 40px;
        line-height: 50px;
    }
}

@media (min-width: 428px) and (max-width: 607px) {
    .content-wrapper {
        padding: 27px 24px;
    }

    .nav-item {
        display: none;
    }

    .main-content {
        padding: 116px 0 401px 0;
    }

    .title {
        font-size: 36px;
        line-height: 44px;
    }

    .pretext {
        top: 20px;
        left: 220px;
        font-size: 24px;
        line-height: 50px;
    }

    .sub-title {
        font-size: 72px;
        line-height: 65px;
    }
}

@media (max-width: 428px) {
    .content-wrapper {
        padding: 27px 12px;
    }

    .nav-item {
        display: none;
    }

    .main-content {
        padding: 116px 0 401px 0;
    }

    .title {
        font-size: 32px;
        line-height: 44px;
        padding-bottom: 12px;
    }

    .pretext {
        top: 20px;
        left: 190px;
        font-size: 24px;
        line-height: 50px;
    }

    .sub-title {
        font-size: 48px;
        line-height: 55px;
        padding-bottom: 90px;
    }
}